# Generate with:
# node -e "console.log(require('crypto').randomBytes(32).toString('base64url'))"
AUTH_SECRET=replace-with-a-random-secret
# GitHub Settings -> Developer settings -> OAuth Apps -> New OAuth App
# Homepage URL: {BASE_URL}
# Authorization callback URL: {BASE_URL}/api/auth/callback/github
AUTH_GITHUB_CLIENT_ID=your-github-oauth-app-client-id
AUTH_GITHUB_CLIENT_SECRET=your-github-oauth-app-client-secret

BASE_URL=http://localhost:3000

# Use pglite for local development.
DATABASE_DRIVER=pglite
DATABASE_DATA_DIR=.data/pglite
