dist
cache
coverage
node_modules

.cache
.data
.changeset/README.md
.eslintcache
.output
.vercel
*.log
*.tsbuildinfo

.idea
.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json

.env
.env.*
!.env.example
