dist
cache
coverage
node_modules

.cache
.data
.changeset/README.md
.eslintcache
.output
.vercel
*.tsbuildinfo

.idea
.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json

config.ts
.env
.env.*
